/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #fad0c4, #ffdde1);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
} */
@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body {
    background: linear-gradient(300deg, #00bfff, #8483ab, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 8s ease infinite;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    /* animation: gradientBG 10s ease infinite; */
    animation: fadeIn 2s ease-out;

}
.container {
    text-align: center;
    /* background: #c91a1a; */
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    opacity: 0;
    transform: scale(1.5);
    animation: fadeInScale 1s ease-out forwards;
}

/* @keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1.5);
    }
} */


@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    text-align: center;
    /* background: white; */
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

header h1 {
    /* background: black; */
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.tagline {
    margin: 15px 0;
    font-size: 18px;
    color: #333;
}

/* .start-btn {
    background: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
} */

.start-btn:hover {
    background: gray;
}







@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(4);
    }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}   

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
